body {
/*     background-color: crimson;
 */    
    font-family: 'Lato', sans-serif;
    background-color: crimson;
    text-align: center;

}
  
  .logo {
      width: 400px;
  }
  
  .pokemon-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: 20px;
   
  }
  
  .bloque,
  .pokemon-block-back {
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    width: 120px;
	  height: 120px;
    border-radius: 20px;
    padding: 10px;
    background-color: rgb(247, 235, 235);
  }
  
  
  .pokemon-block p {
    margin: 5px;
  }
  
  .name {
    text-transform: capitalize;    
    font-weight: bold;
    font-size: 24px;
    border-top: 1px  coral;
    border-bottom: 1px solid coral }
   
  .bloque,
  .pokemon-block-back {
    width: 200px;
    height: 100%;
 }
  
/*/----------------/*/
.img-poke {
  max-width: 100%;
  max-height: 100%;
 }
 .poke-button {
  height: 40px;
  width: 40px;
  border-radius: 100% ;
 }
 input{
   border-radius: 20px;
  padding: 10px 10px;
  border:1px solid coral;
  transition:0.25s ;
 }
 /*-------*/